<div class="user-name-modal">
  <div class="row">
    <div class="col-xs-12">
      <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
    </div>
  </div>
  <div class="modal-body">
    <p ng-if="modal.text" ng-bind="modal.text" class="text-center"></p>
    <div ng-if="modal.html" ng-bind-html="modal.html"></div>
    <form novalidate="">
      <label for="userName">User Name</label><br>
      <input type="text"/ id="userName" ng-model="userName">
      <div class="modal-footer">
        <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click(userName)" ng-bind="button.text" class="btn"></button>
      </div>
    </form>
  </div>
</div>
