#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.chat-form-holder {
  form {
    width: 100%;
    background: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    input {
      border: solid 1px #000;
      width: 100%;
      resize: none;
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 3px;
    }
  }
}
