<div class="chat-form-holder">
  <ul id="messages">
    <li ng-repeat="msg in $ctrl.chats">
      <b>{{msg.user}}</b>: {{msg.message}}
      <br>
      {{msg.time | date: "medium"}}
    </li>
  </ul>
  <form novalidate="" name="chatForm">
    <input type="text" name="msg" rows="3" cols="40" ng-model="$ctrl.chatMsg">
    <button class="btn btn-primary" type="submit" ng-click="$ctrl.sendMsg($ctrl.chatMsg)">Send</button>
  </form>
</div>
